@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

.brand__text {
	font-family: 'Pacifico', cursive;
}

:root {
	--transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
	scroll-behavior: smooth;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.header {

}

.navbar-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar {

}

.navbar-expant-lg {

}

.navbar-brand {

}

.navbar-toggler {

}

.toggler-icon {
	display: block;
	background-color: #fff;
	height: 2px;
	width: 30px;
	margin: 6px 0;
}

.collapse {}

.navbar-collapse {}

.navbar-nav {
}

.nav-item {}

.main-btn {
	position: relative;
	z-index: 10;
	display: inline-block;
	cursor: pointer;
	border-radius: 9999px;
	border: 1px solid #fff;
	color: #fff;
	padding: 18px 38px;
}